name: Deploy Production

on:
  push:
    tags:
      - 'latest-v*.*.*'

jobs:
  base-alpine:
    name: Build and deploy the base Alpine image
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@master
      - name: Set env
        run: echo "RELEASE_VERSION=latest" >> $GITHUB_ENV
      - name: Set env
        run: echo "PULUMI_VERSION=${GITHUB_REF#latest-}" >> $GITHUB_ENV

      - name: Install latest AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1

      - name: Login to Amazon ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${REPOSITORY_BASE_PATH}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Build the image
        run: cd base-alpine && docker build --build-arg PULUMI_VERSION=${PULUMI_VERSION} --tag ${REPOSITORY_BASE_PATH}/runner-pulumi-base-alpine:${RELEASE_VERSION} .
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Push the image to ECR
        run: docker push ${REPOSITORY_BASE_PATH}/runner-pulumi-base-alpine:${RELEASE_VERSION}
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

  base-debian:
    name: Build and deploy the base Debian image
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@master
      - name: Set env
        run: echo "RELEASE_VERSION=latest" >> $GITHUB_ENV
      - name: Set env
        run: echo "PULUMI_VERSION=${GITHUB_REF#latest-}" >> $GITHUB_ENV

      - name: Install latest AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1

      - name: Login to Amazon ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${REPOSITORY_BASE_PATH}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Build the image
        run: cd base-debian && docker build --build-arg PULUMI_VERSION=${PULUMI_VERSION} --tag ${REPOSITORY_BASE_PATH}/runner-pulumi-base-debian:${RELEASE_VERSION} .
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Push the image to ECR
        run: docker push ${REPOSITORY_BASE_PATH}/runner-pulumi-base-debian:${RELEASE_VERSION}
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

  javascript:
    needs:
      - base-alpine
    name: Build and deploy the JavaScript image
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@master
      - name: Set env
        run: echo "RELEASE_VERSION=latest" >> $GITHUB_ENV
      - name: Set env
        run: echo "PULUMI_VERSION=${GITHUB_REF#latest-}" >> $GITHUB_ENV

      - name: Install latest AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1

      - name: Login to Amazon ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${REPOSITORY_BASE_PATH}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Build the image
        run: cd javascript && docker build --build-arg REPOSITORY_BASE_PATH=${REPOSITORY_BASE_PATH} --build-arg RELEASE_VERSION=${RELEASE_VERSION} --tag ${REPOSITORY_BASE_PATH}/runner-pulumi-javascript:${RELEASE_VERSION} .
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Push the image to ECR
        run: docker push ${REPOSITORY_BASE_PATH}/runner-pulumi-javascript:${RELEASE_VERSION}
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

  golang:
    needs:
      - base-alpine
    name: Build and deploy the Go image
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@master
      - name: Set env
        run: echo "RELEASE_VERSION=latest" >> $GITHUB_ENV
      - name: Set env
        run: echo "PULUMI_VERSION=${GITHUB_REF#latest-}" >> $GITHUB_ENV

      - name: Install latest AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1

      - name: Login to Amazon ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${REPOSITORY_BASE_PATH}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Build the image
        run: cd golang && docker build --build-arg REPOSITORY_BASE_PATH=${REPOSITORY_BASE_PATH} --build-arg RELEASE_VERSION=${RELEASE_VERSION} --tag ${REPOSITORY_BASE_PATH}/runner-pulumi-golang:${RELEASE_VERSION} .
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Push the image to ECR
        run: docker push ${REPOSITORY_BASE_PATH}/runner-pulumi-golang:${RELEASE_VERSION}
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

  python:
    needs:
      - base-debian
    name: Build and deploy the Python image
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@master
      - name: Set env
        run: echo "RELEASE_VERSION=latest" >> $GITHUB_ENV
      - name: Set env
        run: echo "PULUMI_VERSION=${GITHUB_REF#latest-}" >> $GITHUB_ENV

      - name: Install latest AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1

      - name: Login to Amazon ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${REPOSITORY_BASE_PATH}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Build the image
        run: cd python && docker build --build-arg REPOSITORY_BASE_PATH=${REPOSITORY_BASE_PATH} --build-arg RELEASE_VERSION=${RELEASE_VERSION} --tag ${REPOSITORY_BASE_PATH}/runner-pulumi-python:${RELEASE_VERSION} .
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Push the image to ECR
        run: docker push ${REPOSITORY_BASE_PATH}/runner-pulumi-python:${RELEASE_VERSION}
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

  dotnet:
    needs:
      - base-debian
    name: Build and deploy the .Net image
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@master
      - name: Set env
        run: echo "RELEASE_VERSION=latest" >> $GITHUB_ENV
      - name: Set env
        run: echo "PULUMI_VERSION=${GITHUB_REF#latest-}" >> $GITHUB_ENV

      - name: Install latest AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1

      - name: Login to Amazon ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${REPOSITORY_BASE_PATH}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Build the image
        run: cd dotnet && docker build --build-arg REPOSITORY_BASE_PATH=${REPOSITORY_BASE_PATH} --build-arg RELEASE_VERSION=${RELEASE_VERSION} --tag ${REPOSITORY_BASE_PATH}/runner-pulumi-dotnet:${RELEASE_VERSION} .
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}

      - name: Push the image to ECR
        run: docker push ${REPOSITORY_BASE_PATH}/runner-pulumi-dotnet:${RELEASE_VERSION}
        env:
          REPOSITORY_BASE_PATH: ${{ secrets.REPOSITORY_BASE_PATH }}
